<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Add From Product</title>
</head>
<form th:action="@{/product/save}" method="post" th:object="${product}">
	<input type="hidden" th:field="*{id}" />
	<table border="1">
		<tr>
			<td>Category</td>
			<td>
				<select name="category" id="category" th:field="*{variant.categoryId}">
					<option th:each="item:${listCategories}" th:text="${item.categoryName}" th:value="${item.id}">
					</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Variant</td>
			<td>
				<select th:field="*{variantId}">
					<option th:each="item:${listVariant}" th:text="${item.variantName}" th:value="${item.id}"></option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Initial</td>
			<td><input type="text" name="initial" th:field="*{initial}"></td>
		</tr>
		<tr>
			<td>Name</td>
			<td><input type="text" name="name" th:field="*{name}"></td>
		</tr>
		<tr>
			<td>Description</td>
			<td><input type="text" name="description" th:field="*{description}"></td>
		</tr>
		<tr>
			<td>price</td>
			<td><input type="text" name="price" th:field="*{price}"></td>
		</tr>
		<tr>
			<td>Stock</td>
			<td><input type="text" name="stock" th:field="*{stock}"></td>
		</tr>
		<tr>
			<td>Active</td>
			<td><input type="checkbox" name="isactive" th:field="*{isActive}" disable></td>
		</tr>
		<tr>
			<td colspan="2"><input type="submit" value="Save"></td>
		</tr>
	</table>
</form>

</html>