<html>

<head>
	<title>Product Page</title>
</head>

<body>
	<h1>Product List</h1>
	<button onclick="window.location.href='/product/addform'">Create New</button>
	<br>
	<br>
	<table border="1">
		<thead>
			<tr>
				<th>Category/Variant</th>
				<th>Initial</th>
				<th>Name</th>
				<th>Description</th>
				<th>Price</th>
				<th>Stock</th>
				<th>Active</th>
				<th colspan="2">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item:${listProduct}">
				<td th:text="|${item.variant.category.categoryCode} / ${item.variant.variantCode}|"></td>
				<td th:text="${item.initial}"></td>
				<td th:text="${item.name}"></td>
				<td th:text="${item.description}"></td>
				<td th:text="${item.price}"></td>
				<td th:text="${item.stock}"></td>
				<td><input type="checkbox" name="isactive" th:checked="${item.isActive}"></td>
				<td><a th:href="@{/product/edit/{id}(id=${item.id})}">Edit</a></td>
				<td><a th:href="@{/product/delete/{id}(id=${item.id})}">Delete</a></td>
			</tr>
		</tbody>
	</table>
</body>

</html>