<html>
<head>
	<title>Variant Page</title>
</head>
<body>
	<h1>Variant List</h1>
	<button onclick="window.location.href='/variant/addform'">Create New</button>
	<br>
	<br>
	<table border="1">
		<thead>
			<tr>
				<th>Category</th>
				<th>Initial</th>
				<th>Name</th>
				<th>Active</th>
				<th colspan="2">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item:${listVariant}">
				<td th:text="${item.category.categoryName}"></td>
				<td th:text="${item.variantCode}"></td>
				<td th:text="${item.variantName}"></td>
				<td><input type="checkbox" name="isactive" th:checked="${item.isActive}"></td>
				<td><a th:href="@{/variant/edit/{id}(id=${item.id})}">Edit</a></td>
				<td><a th:href="@{/variant/delete/{id}(id=${item.id})}">Delete</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>